html, body {
  width: 100%;
  min-height: 100%;
  color: #010101;
}

body {
  width: 910px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7, .document-title {
  font-family: Georgia,Lora;
  margin-top: 40px;
}
