.document-title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 32px;
  font-weight: bold;
}

.marginalia {
  display: block;
  width: 100px;
  margin-left: -110px;
  float: left;
}

.footnotes > ol > li > p {
  display: inline;
}
