.document-title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 32px;
  font-weight: bold;
}

.marginalia {
  display: block;
  width: 100px;
  margin-left: -110px;
  float: left;
}

.footnotes > ol > li > p {
  display: inline;
}

.popover.bs-tether-element-attached-bottom::after, .popover.popover-top::after {
  border-top-color: #052341;
}

.popover.bs-tether-element-attached-bottom, .popover.popover-top {
  color: white;
  background-color: #052341;
}
