.document-title {
  font-size: 32px;
  font-weight: bold;
}

.marginalia {
  display: block;
  width: 100px;
  margin-left: -110px;
}

h1 {
  font-weight: bold;
  color: #000;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  color: #000;
  font-size: 24px;
}
